#graph-editor {
    position: relative;

    max-width: 1000px;
    height: 500px;

    margin: 16px auto auto;
}

/* FLEXBOX */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space {
    width: 8px;
}

svg {
    width: 100%;
    height: 100%;
    background-color: #649698;
    cursor: default;
    user-select: none;
}

.node {
    fill: green;
    stroke-width: 1px;
    cursor: pointer;
}

.link, .dragline {
    stroke: black;
    stroke-width: 5px;
    fill: none;
    cursor: default;
}

.node-group text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: bold;
    pointer-events: none;
}

.hidden {
    display: none;
}

/* UI WIDGETS */

.ui-widget {
    position: absolute;

    margin: 8px;
    padding: 4px;
}

.ui-background {
    background-color: rgba(255, 255, 255, 0.5);
}

#flow {
    top: 0;
    left: 50%;

    transform: translate(-50%, 0);
}

table {
    top: 0;
    right: 0;
}

table input {
    width: 40px;
}

#stepper {
    width: 200px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#stepper button {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2980b9;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    transition: background-color 0.3s;
    border: none;
}

#stepper button:hover {
    background-color: #216694;

}

#menu {
    bottom: 0;
    right: 0;

}

/* BUTTON */
.btn {
    display: inline-block;
    float: right;
    background-color: #27ae60;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8rem 1.6rem;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.btn:hover {
    background-color: #1f8b4d;
    /*border: 1px solid #ffffff;*/
}



