table {
    padding: 8px;
}

.space {
    width: 8px;
}

svg {
    background-color: #649698;
    cursor: default;
    border: 2px solid black;
    user-select: none;
}

.node {
    fill: green;
    stroke-width: 1px;
    cursor: pointer;
}

.link, .dragline {
    stroke: black;
    stroke-width: 5px;
    cursor: default;
}

.node-group text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: bold;
    pointer-events: none;
}

.hidden {
    display: none;
}

#graph-editor {
    margin: auto;
    width: 960px;
}

/* BUTTON */
.btn {
    display: inline-block;
    float: right;
    background-color: #27ae60;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8rem 1.6rem;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.btn:hover {
    background-color: #1f8b4d;
    border: 1px solid #ffffff;
}



