table {
    padding: 8px;
}

.space {
    width: 8px;
}

svg {
    background-color: #649698;
    cursor: default;
    border: 2px solid black;
    user-select: none;
}

.node {
    fill: green;
    stroke-width: 1px;
    cursor: pointer;
}

.link, .dragline {
    stroke: black;
    stroke-width: 5px;
    cursor: default;
}

.node-group text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: bold;
    pointer-events: none;
}

.hidden {
    display: none;
}
